<p>All content on this site is open access. Site design derived from Phil Hawksworth's blog; source available on Github. Hold the Space is an ongoing project by <a href="https://olliepalmer.com" target="_blank">Ollie Palmer</a> and is supported by the <a href="https://caradt.nl/research-group/situated-art-and-design" target="_blank">Situated Art and Design research group</a> at the <a href="https://caradt.nl" target="_blank">Centre of Applied Research for Art, Design and Technology</a> (Caradt).</p>
<p>
  <a href="/feed.xml" target="_blank">Subscribe to a feed</a> of blog posts on this site.
</p>
