<p>
  Design derived from Phil Hawksworth's blog; source available on Github. All content on this site is open access.
</p>
<p>
  <a href="/feed.xml">Subscribe to a feed</a> of blog posts on this site.
</p>
