<ul class="nav">
  <li><a href="/" class="home">one</a></li><li><a href="/episodes" class="episodes">episodes</a></li><li><a href="/about">about</a></li><li><a href="/search" class="search" id="search-link">search</a></li>
</ul>
