<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@holdthe_" />
<meta name="twitter:creator" content="@_olliepalmer" />
<meta property="og:url" content="https://holdthespace.art/" />
<meta property="og:title" content="Ollie Palmer" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}Hold the Space. Conversations with creative practitioners who teach.{%- endif -%}" />
<meta property="og:image" content='https://holdthespace.art/card-image/{{ page.url | kebab }}card.png' />
