---
title: Title
description: Here's the description
pageClass: "dark-theme theme-black"
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>conversations about creative practice and teaching</h1>
  <!--<img class="avatar-large" src="/images/hts-plain.png" alt="holding image" />-->
{% endblock %}


{% block content %}
<h1>Hold the Space</p>
<p>And here's the content</p>

<hr>

<h2 id="here">Here</h2>

<p>Yes, this is here. Sem primis nulla curae penatibus natoque fringilla rhoncus tincidunt vitae integer augue velit maximus aliquet aliquam vehicula mollis tristique posuere nascetur mauris venenatis nullam scelerisque euismod ligula aenean consectetur ipsum lobortis rutrum ullamcorper eu cursus faucibus sit eros hendrerit adipiscing placerat non ultricies luctus et dis taciti pulvinar volutpat dictum.</p>

<hr>

<h2 id="there">There</h2>

<p>And this is there. Sodales tempor mi luctus quisque metus torquent ex etiam hac vivamus habitant aenean commodo rutrum himenaeos ridiculus tincidunt suspendisse bibendum sollicitudin aptent est sed per curae quis a felis senectus.</p>

{% endblock %}
