---
title: Title
description: Here's the description
pageClass: "dark-theme theme-black"
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>conversations about creative practice and teaching</h1>
  <!--<img class="avatar-large" src="/images/hts-plain.png" alt="holding image" />-->
{% endblock %}


{% block content %}

<h2>About the podcast</h2>
<p>Each episode features a conversation with a creative practitioner who teaches. Guests can include artists, designers, architects, musicians - anybody who works in a creative field, but also teaches. The podcast aims to interrogate the relationship between creative practice and teaching. It is interested in a few main themes:</p>

<ul>
  <li>What do you do?</li>
  <li>How do you do it?</li>
  <li>What do you teach?</li>
  <li>How do you teach it?</li>
  <li>How did you get to where you are today?</li>
</ul>

<p>Along the way, we tend to discuss things such as forming and maintaining creative communities, methods for making student assessments fairer, increasing students’ visibility and voices within institutions, methods for creating work, differences in approaches to work, and many more subjects. You can explore the website for subjects, disciplines, or people you’re interested in – or just dip in to the latest episode!</p>

<h2>About the host</h2>
<p><a href="https://olliepalmer.com">Ollie Palmer</a> is an artist, designer, and film-maker. He teaches at <a href="https://www.akvstjoostmasters.nl/community/tutors/ollie-palmer">St Joost School of Art and Design</a> in the Netherlands, and is a researcher with the <a href="https://caradt.nl/research-group/situated-art-and-design">Situated Art and Design research group</a> at the <a href="https://caradt.nl">Centre of Applied Research for Art, Design and Technology</a> (Caradt). He is part of the <a href="https://www.arts.ac.uk/colleges/central-saint-martins/research-at-csm/hybrid-futures-lab/hybrid-futures-collaborate">Hybrid Futures</a> network at <a href="https://www.arts.ac.uk/colleges/central-saint-martins">Central St Martins</a>, and his <a href="https://olliepalmer.com/">films and artworks</a> have been <a href="https://olliepalmer.com/about">exhibited internationally</a>.</p>

<h2>Accessibility</h2>
<p>This project is designed to be accessible to as many people as possible. You can subscribe to the podcast via most podcast apps, or its RSS feed. Each episode is transcribed, so it’s easy to translate into other languages. If you have a suggestion about how accessibility can be improved, please <a href="mailto:holdthespacesuggestion@olliepalmer.com?subject=I'd like to suggest an improvement...">contact me</a>.</p>
<p>The website itself is open-source – it is based on the design for Phil Hawksworks’ blog – but you can find the source code on <a href="https://github.com/olliepalmer/holdthespace">GitHub</a>.</p>

{% endblock %}
