---
title: Hold the Space
description: All of the episodes of Hold the Space
pageClass: dark-theme theme-black
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <p>conversations about creative practice and teaching</p>
{% endblock %}


{% block content %}
  {%- for item in collections.posts  -%}
  {% if loop.index < 4 %}
  {% include 'post-teaser.njk' %}
  {% else %}
  {% include 'post-teaser-condensed.njk' %}
  {% endif %}
  {%- endfor -%}
{% endblock %}
