---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}

{% endblock %}

{% block content %}
<h2>Credits</h2>

<h3>Podcast</h3>

<p>Hold the Space is recorded, produced, and edited by Ollie Palmer. Funding comes from Caradt.</p>

<p>Thanks to all of the interviewees so far.</p>

<h3>Website</h3>

<p>The template for this website is derived from Phil Hawksworth's blog, whose source is available here. The source code for this site is available on Github.</p>

<p>All content on this site is open access.</p>

{% endblock %}
