---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}

{% endblock %}

{% block content %}
<h2>Credits</h2>

<p>
This podcast is hosted, recorded, and edited, by <a href="https://olliepalmer.com">Ollie Palmer</a>.
</p>
<p>
The project has been generously supported by <a href="https://caradt.nl/research-group/situated-art-and-design">Situated Art and Design research group</a> at the <a href="https://caradt.nl">Centre of Applied Research for Art, Design and Technology</a> (Caradt).
</p>
<p>
Thanks to all of the guests for donating their time.
</p>
<p>
This project would not have happened had it not been for valuable advice from many people – Michel van Dartel, Dan Crane, Nick Murray, Abi Palmer, Ross Sutherland, Scott Smith, Amy Thomas, and more.
</p>
<p>
The website design is based on <a href="https://www.hawksworx.com">Phil Hawksworth’s site</a>, and all of the source code is available on <a href="https://github.com/olliepalmer/holdthespace">GitHub</a>.
</p>

{% endblock %}
