---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <p>a podcast about creative practice and teaching</p>
{% endblock %}

{% block content %}
  <p>
    A little section here to introduce the podcast.
  </p>
  <p>
    Split into two paragraphs.
  </p>
  <p>
    With a set of links to <a href="/subscribe">subscribe</a>.
  </p>

  <hr />

  <h2><a href="/blog">Recent episodes</a></h2>
  {% set item = collections.posts | first %}
  {% include 'post-teaser.njk' %}



{% endblock %}
