---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <p>a podcast about creative practice and teaching</p>
{% endblock %}

{% block content %}
  <p>Hold the Space is a podcast about creative practitioners who also teach, hosted by <a href="https://olliepalmer.com" target="_blank">Ollie Palmer</a>.</p>
  <p>Each episode features one conversation between Ollie and an artist, designer, film-maker, writer, musician, choreographer, or anyone else who works in a creative discipline and also teaches.</p>
  <p>The podcast aims to cut across disciplinary and institutional boundaries, and share methods, techniques, and experiences. The podcast is advertising-free.</p>
  <p><a href="/subscribe">Subscribe</a>, explore, listen and read transcripts of each episode.</p>

  <hr />

  <h2><a href="/blog">Recent episodes</a></h2>
  {% set item = collections.posts | first %}
  {% include 'post-teaser.njk' %}



{% endblock %}
