---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <p>subscribe</p>
{% endblock %}

{% block content %}
<h2>Subscribe</h2>

<p>Subscribe to the podcast via your favourite podcast app!</p>

<ul>
  <li>Apple Podcasts</li>
  <li>Google Podcasts</li>
  <li>Pocket Casts</li>
  <li>RSS feed</li>
  <li>Amazon Podcasts</li>
  <li>Radio Public</li>
  <li>Spotify</li>
  <li>Stitcher</li>
  <li>Breaker</li>
  <li>Castbox</li>
</ul>

<p>If you like the podcast, please leave a review on your podcast app, or better still - tell a friend!</p>
{% endblock %}
