---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <p>subscribe</p>
{% endblock %}

{% block content %}
<h2>Subscribe</h2>

<p>Links here</p>
{% endblock %}
